.footer{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #0e0e0e;
    /* height: 200px; */
    /* padding: 1rem 2rem; */
    color: #ffffff;
    flex-direction: column;
}

.footer-logo img{
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.footer-container h3{
    color: grey;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    width: 100%;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
    .footer-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.redes, .contacto a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #ffffff;
}

.contacto a:hover{
    text-decoration: underline;
}

.footer-container h3{
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-container li{
    list-style: none;
    margin: 0 10px;
}