.banner-section {
  background-color: #f0f0f0;
  padding: 50px;
  text-align: center;
  background: url("../../../public/images/Alambrados-Belgrano-S.R.L.jpg")
    no-repeat center center;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.production-section {
  background-color: lightgrey;
  color: #fff;
  padding: 50px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.production-section h2, .product-section h2 { 
  font-size: 2.5rem;
  margin-top: 50px;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.production-section p {
  font-size: 1.2rem;
  color: #666;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
}

.production-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.production-section .production-item {
  margin: 20px 10px;
  text-align: center;
  width: 45%;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.production-item p {
  width: 80%;
  margin: 0 auto;
  font-size: 1rem;
  color: #ccc;
  font-size: 14px;
}

.production-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.production-section ul li {
  font-size: 1.2rem;
  cursor: pointer;
  color: #fff;
}

.production-section ul li:hover {
  text-decoration: underline;
}

.production-section img {
  width: 200px;
  height: 200px;
  margin: 20px 0;
  border-radius: 50%;
  border: #003366 solid 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.production-section img:hover {
  transform: scale(1.1);
}
.product-section {
  padding: 50px;
  background-color: #f9f9f9;
}

.products-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-card {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
  transition: transform 0.3s;
}

.product-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 50%;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-price{
  font-weight: bold; 
  font-size: 1.2rem;
}
@media screen and (max-width: 1024px) {
  .production-section .production-item {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .production-section .production-item {
  width: 100%;
}
.production-section{
  padding: 0;
}
.production-item img{
  width: 150px;
  height: 150px;  
}
}