.banner-section {
  background-color: #f0f0f0;
  padding: 50px;
  text-align: center;
  background: url("C:\Users\faust\OneDrive\Escritorio\DISEÑO WEB\Backend\Integrador Backend\ecommerce-frontend\public\images\Alambrados-Belgrano-S.R.L.jpg")
    no-repeat center center;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.banner-section p {
  font-size: 1.2rem;
  color: #666;
}

.production-section {
  background-color: #fff;
  padding: 50px;
  text-align: center;
}

.production-section h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}

.production-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.production-section .production-item {
  margin: 0 10px;
  text-align: center;
}

.production-section ul li {
  font-size: 1.2rem;
  cursor: pointer;
}

.production-section ul li:hover {
  text-decoration: underline;
}

.production-section img {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  border-radius: 50%;
  border: #003366 solid 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ofertas-section {
  background-color: #f0f0f0;
  padding: 50px;
  text-align: center;
}

.ofertas-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.ofertas-section .oferta-item {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ofertas-section .oferta-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.ofertas-section .oferta-item p {
  font-size: 1.2rem;
  color: #666;
}
