.productos-titulo {
  position: relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.productos-titulo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://yourfiles.cloud/uploads/613fb0a3c45509b59b1c4e102a89486d/Alambre-romboidal-bluemat-1.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px); 
  z-index: -1;
}

.productos-titulo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); 
  z-index: 0;
}

.productos-titulo h1,
.productos-descripcion {
  position: relative;
  z-index: 1;
}

.productos-descripcion {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  margin-bottom: 100px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 100px;
  font-style: italic;
}

.productos-titulo h1 {
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 20px;
  color: black;
}

.categorias-container {
  text-align: center;
  margin-bottom: 30px;
}

.categorias-container h2 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.categorias-lista {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.categorias-lista li {
  display: inline;
}

.productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .productos-container {
    padding: 0;
  }
}

.producto-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 250px;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 400px;
  margin: 20px 20px;
  box-shadow: rgba(255, 196, 0, 0.35) 0px 5px 15px;
}

.producto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.producto-imagen {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  border-radius: 10px 10px 0 0;
}

.producto-nombre {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
  height: 50px;
}

.producto-descripcion {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
  height: 100px;
}

.producto-precio {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 25px 25px 0;
}

.producto-boton {
  background-color: #000000;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.producto-boton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.ver-mas-container {
  text-align: center;
  margin: 20px;
}

.ver-mas-container button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.imagen-container {
  position: relative;
  display: inline-block;
  height: 20%;
  width: 60%;
}

.icono-lupa {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.producto-imagen {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
}

.imagen-zoom {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease;
}

.modal:hover .imagen-zoom {
  transform: scale(1.05);
}
.popup {
  position: fixed;
  top: 0;
  right: 0;
  background-color: grey;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  font-size:0.7rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 60px;
}

.popup.visible {
  opacity: 1;
  transform: translateY(0);
}

.popup .popup-text {
  margin-right: 10px;
}

.popup .popup-icon {
  font-size: 1.5rem;
  color: #fff;
}

.popup.success {
  background-color: #28a745;
}

.popup.error {
  background-color: #dc3545;
}
.popup-imagen {
  max-width: 50px;
  max-height: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease;
}

@keyframes hidePopup {
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}
